<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="layouts/main :: htmlhead"/>

<body>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-item nav-link" th:href="@{/user}">User</a>
                </div>

            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h1 class="m-3 fw-bold">Admin panel</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link" data-toggle="tab" href="/admin/users">Users Table</a>
                            <a class="nav-link active" style="background-color: dimgrey; color: #C0C0C0" data-toggle="tab">New User</a>
                        </ul>
                        <div class="card">
                            <div class="card-header" style="background-color: black">
                                <div class="m-1">
                                    <h2>Add new user</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md border" style="background-color: rgba(0, 0, 0, 0.7)">
                            <h2>Please enter the user details in the form below:</h2>
                            <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                                  style="color: #C0C0C0"
                                  th:align="center"
                                  th:action="@{/admin/users/new}"
                                  th:object="${user}"
                                  method="POST">
                                <label for="firstName">Name: </label>
                                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" required/>

                                <label for="lastName">Surname: </label>
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastName" required/>

                                <label for="mobilePhone">Phone number: </label>
                                <input type="text" th:field="*{mobilePhone}" class="form-control" id="mobilePhone" required/>

                                <label for="email">E-mail:</label>
                                <input type="text" th:field="*{email}" class="form-control" id="email" required/>

                                <label for="username">Login: </label>
                                <input type="text" th:field="*{username}" class="form-control" id="username" required/>

                                <p>
                                    <label for="newRoles">Role</label>
                                    <select class="form-control form-control-sm" id="newRoles" name="roles" multiple
                                            size="2" required>
                                        <option th:each="role : ${roles}"
                                                th:value="${role.id}"
                                                th:text="${role.name}">
                                        </option>
                                    </select>
                                </p>
                                <br>
                                <input type="submit" value="Create"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="layouts/main :: footer"/>
</body>
</html>