<form class="modal-body col-md text-center"
      th:action="@{/admin/users/{id}(id=${user.id})}"
      th:method="DELETE">
    <div class="modal-body col-md">
        <br>
        <label for="firstName">Name: </label>
        <input th:name="firstName" th:type="text"
               class="form-control" id="firstName"
               th:value="${user.firstName}" disabled/>
        <br>
        <label for="lastName">Surname: </label>
        <input th:name="lastName" th:type="text"
               class="form-control" id="lastName"
               th:value="${user.lastName}" disabled/>
        <br>
        <label for="mobilePhone">Phone number: </label>
        <input th:name="mobilePhone" th:type="text"
               class="form-control" id="mobilePhone"
               th:value="${user.mobilePhone}" disabled/>
        <br>
        <label for="email">E-mail:</label>
        <input th:name="email" th:type="text"
               class="form-control" id="email"
               th:value="${user.email}" disabled/>
        <br/>
        <label for="username">Login: </label>
        <input th:name="username" th:type="text"
               class="form-control" id="username"
               th:value="${user.username}" disabled/>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <button type="submit" class="btn btn-danger">Delete
        </button>
    </div>
</form>
