<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Role</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th>E-mail</th>
        <th>Login</th>
        <th>Open</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.mobilePhone}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
               data-bs-target="#editModal"
               th:data-bs-target="${'#editModal'+user.id}">Open</a>
        </td>
        <td>
            <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
               data-bs-target="#DELETE"
               th:data-bs-target="${'#DELETE'+user.id}">Delete</a>
        </td>

        <div class="modal fade" th:id="${'editModal'+user.id}"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" modal-dialog-centered>
                <div class="modal-content" style="background-color: dimgrey">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div th:replace="fragments/update_form"/>
                </div>
            </div>
        </div>
        <div class="modal fade" th:id="${'DELETE'+user.id}"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: dimgrey">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div th:replace="fragments/delete_form"/>
                </div>
            </div>
        </div>
    </tr>
</table>